[2012-03-01 16:07] jaredmorrow opened #3 "sudo fails if starting from the `package_install_user`"
Starting the app with `<package_install_name> start` should use sudo to start up the service.   When logged in as the `package_install_user` this should happen without fail.   Currently you have to run `sudo <package_install_name> start` which is wrong.

[2012-03-26 20:27] jaredmorrow commented on #3
This is not a bug, just unexpected behavior coming from riak which uses `sudo` in its admin commands versus `su`

[2012-03-26 20:27] #3 closed, assigned to jaredmorrow

[2012-03-26 20:29] jaredmorrow opened #4 "Limit files added to package directory"
For both RPM and Debian based packaging, every little artifact is saved in the <appname>/package directory and the resulting binaries that are really interesting are hard to filter out of the noise.

Two possible actions:
1. Remove all of the build artifacts and only place the binaries into the package directory
2. Put the important binaries into a package/packages directory

[2012-03-26 20:32] jaredmorrow opened #5 "Create SHA files for packages"
For all package files created, *.sha files should be created.

[2012-03-27 04:12] jaredmorrow opened #6 "Centos 6 gets improper `el5` naming in package name"
When building for centos 6, the final package name ends up having `.el5.el6` in the name.

[2012-03-27 04:12] #6 closed, assigned to nobody

[2012-03-27 04:24] #4 closed, assigned to jaredmorrow

[2012-03-27 04:35] #5 closed, assigned to jaredmorrow

[2012-04-03 23:01] jaredmorrow opened #7 "Ensure executable files have the +x flag set"
env.sh is showing up installed with 600 permissions so it can't execute after a default install.

[2012-04-04 21:49] #7 closed, assigned to jaredmorrow

[2012-05-21 18:16] kellymclaughlin opened #9 "Uninstalling ubuntu 11 packages results in error."
When uninstalling the `riak-cs` and `stanchion` packages on an Ubuntu 11 system I see error output similar to the following:

[code]

Also the package ends up in an odd state according to dpkg:

[code]

Uninstall a Riak package on the same system does not give that type of error.

[2012-06-28 16:58] jaredmorrow opened #10 "LOGNAME incorrectly used in startup scripts"
Bring the following changes into node_package
- https://github.com/basho/riak/commit/176bb0f6a1fe2d65b20aea09842ebda6d51a030f
- https://github.com/basho/riak/commit/46636000a5263d6f51195afcf3574e8fbd934a50

[2012-07-03 17:39] cheeseplus opened #11 "riak-cs - deb expects files in /etc/riak-cs to exist on install/uninstall"
Encountered on Ubuntu 12.04 on both installation and removal (you have to touch a file in the dir to remove via dpkg)

sudo dpkg -i /tmp/riak-cs_pkg/riak-cs_1.0.2-1_amd64.deb
Selecting previously unselected package riak-cs.
(Reading database ... 76093 files and directories currently installed.)
Unpacking riak-cs (from .../riak-cs_1.0.2-1_amd64.deb) ...
Setting up riak-cs (1.0.2-1) ...
chmod: canno

[2012-08-08 14:35] jaredmorrow opened #12 "Port Riak's cross platform changes to node_package"
For Riak 1.2, many changes were made to all of the installed scripts `riak`, `riak-admin`, `search-cmd` that were the result of bug fixes across platforms. These changes should be ported to node_package so they can be used universally.

[2012-08-08 14:36] jaredmorrow opened #13 "Add FreeBSD packaging to node_package"
Use Riak's FreeBSD as a basis for packaging FreeBSD in node_package

[2012-08-08 14:50] jaredmorrow opened #14 "Add SmartOS packaging to node_package"

[2012-08-08 20:33] #10 closed, assigned to jaredmorrow

[2012-08-08 21:30] jaredmorrow opened #15 "Give each app an unique `pipe_dir`"
Currently all `pipe_dir` settings go to /tmp, so if multiple erlang apps using node_package are installed they share the same FIFO's on the system.  Each app should get its own area like /tmp/app-name/ for its FIFO's.

[2012-08-08 21:51] jaredmorrow opened #16 "`app restart` does not work"
The command returns 0 and calls to nodetool, but restart isn't restarting the node.

[2012-08-09 17:50] #12 closed, assigned to jaredmorrow

[2012-08-11 23:03] cheeseplus opened #18 "usermod fails when installing both Riak and RiakCS on rhel family"
Install riak, then riak-cs:

[code]

If riak-cs is installed first, then riak the error doesn't manifest although it does break the cookbook with the following, related error:

[code]

[2012-08-14 06:10] #15 closed, assigned to jaredmorrow

[2012-08-14 18:23] #11 closed, assigned to jaredmorrow

[2012-08-24 06:07] jaredmorrow opened #20 "Spaces in path breaks env.sh include"
from zd://1942:

[code]

[2012-09-04 14:31] #20 closed, assigned to jaredmorrow

[2012-09-14 19:34] jaredmorrow opened #23 "Add OSX packaging to node_package"

[2012-09-14 19:34] #23 closed, assigned to jaredmorrow

[2012-10-03 21:46] jaredmorrow opened #25 "Make sure an app can't install over itself"
Conflicts against prior versions of packages are not supported in node_package which can lead to weird behavior when installing a newer version of package Foo over an older version of package Foo.

[2012-10-18 01:43] evanmcc opened #26 "If possible, don't start riak by default on install"
It leaves stale rings around, which then have to be deleted for anything to work, which is kind of non-obvious.

This is a kind of hacky way to do it for debs:

http://ubuntuforums.org/showthread.php?t=856815

Will look into it more tomorrow.

[2012-10-18 01:45] nathanaschbacher commented on #26
Yeah, it's something of a mess.  Ideally something like MySQL's deb configuration wizard for ring size, node name, and possibly a few other config items would be awesome.  At a minimum just don't auto-start the service through upstart if possible.

[2012-10-24 17:58] jaredmorrow commented on #26
Riak doesn't use node_package for its packaging config and Riak also doesn't start on install that I've ever seen live or seen in testing.  Can someone provide a reproducible use case I can see that does this?

[2012-10-24 18:30] evanmcc commented on #26
@nathanaschbacher I know you were doing a lot of cloud provider settings, do you mind letting us know who is and isn't doing this (privately is likely better) and we'll let them know to fix it?

[2012-10-25 20:32] nathanaschbacher commented on #26
I'm not sure I follow what you mean exactly.  You mean which cloud providers this is a problem with?  My issue was with the default Ubuntu server package when installing it locally under VMware ESXI v5.1

As soon as the package installs using dpkg -i, it starts the Riak process for the first time, I assume because of the upstart script.

[2012-10-25 21:09] jaredmorrow commented on #26
We don't provide a upstart script with the RIak package, so I think Evan was curious what was starting RIak.   The package does no such thing in the postinst script.

[2012-11-15 02:56] nathanaschbacher commented on #26
Jared you're correct, I realize the problem we're having now.  Riak is packaged to install an upstart service, but it doesn't start it upon installation.

What's happening for us is that we have a template VM in development that includes a base install of the Riak .deb and when we shutdown that VM, saved it as a template, and then bring up new VM's by cloning it the riak service starts for the fir

[2013-01-08 21:57] #26 closed, assigned to nobody

[2013-01-09 21:34] jsmartin opened #30 "stop action is not specific enough"
Currently the "stop" action of the init script uses the following logic:

[code]

This wouldn't be a problem if only one basho service was running on the node, as there would be only one beam.smp.  The problem here is if stanchion, riak_cs, riak, or any combination thereof are running together on the same machine, it will never grab the correct pid of the process.  What ends up happening in that c

[2013-01-09 21:48] jsmartin opened #31 "init scripts are not LSB compliant"
The init scripts for riakcs & stanchion are not LSB compliant.  The biggest part missing is a "status" option.  The status option should tell you where the daemon is running or not.

It could be added to the init script like:

[code]

This also gives a good outline on LSB init script compliance:

http://linux-ha.org/wiki/LSB_Resource_Agents

The biggest thing we gain for fixing it up is that our p

[2013-01-23 20:20] densone opened #32 "Default Log Path on Debain is not Right"
When installing RiakCS on debian or Ubuntu, the lager log locations are broken (not sure if that's the right term), but it's not optimal.

Examples:
          {handlers, [
                      {lager_console_backend, info},
                      {lager_file_backend, [
                                            {"./log/error.log", error, 10485760, "$D0", 5},

[2013-03-01 19:52] jaredmorrow commented on #32
Fixed

[2013-03-01 19:52] #32 closed, assigned to nobody

[2013-03-01 19:52] jaredmorrow commented on #31
Fixed

[2013-03-01 19:52] #31 closed, assigned to nobody

[2013-03-01 19:52] jaredmorrow commented on #14
Done

[2013-03-01 19:52] #14 closed, assigned to nobody

[2013-03-01 19:53] jaredmorrow commented on #13
Done

[2013-03-01 19:53] #13 closed, assigned to nobody

[2013-03-23 11:44] nivertech opened #38 "Use rebar raw dependency instead of dummy priv folder and app.src file"
https://github.com/basho/rebar/pull/217#issuecomment-8230441

[code]

[2013-03-23 14:34] jaredmorrow commented on #38
I'm aware of the rebar features, but what would this provide for node_package?  Using it the way we have it does not cause issues and does not force people to remember the [raw] flag.

[2013-03-23 14:43] nivertech commented on #38
Just meaningful folder names - cosmetics.
No need to pretend to be OTP app, which `node_package` is not.
Feel free to close.

[2013-03-23 14:52] jaredmorrow commented on #38
Oh gotcha, I didn't know if there was a bug.  Yes cosmetically this repo could be a lot nicer.  I would be affraid people would forget the [raw] and it would break right away for them, but maybe that's a bad reason to not change things around.   I'll keep this open to think about it and to get other opinions if there are more out there.

So, are you using node_package in a project?

[2013-03-23 15:05] nivertech commented on #38
Not yet, but I'd like to.
There are few issues:
1. You have no `LICENSE` file in the repo (I guess it's the same license as other basho OSS projects).
2. I need to figure how to use it ;)
3. I'll need to add support for Raspberian (version of Debian for RaspberryPi) and Angstrom Linux.

For now I just distribute self-contained .tar.gz file with self-contained OTP release - but having native OS pac

[2013-03-23 15:26] jaredmorrow commented on #38
I just added the `LICENSE` file on master, sorry I overlooked that.  I'm trying to do a talk about packaging at EUC or another conference, so if that happens I'll have a lot of time to get a better readme/wiki/tutorial done.

[2013-03-23 15:53] nivertech commented on #38
thanks,
I'll be speaking at EUC - see you there.

[2013-03-23 16:29] jaredmorrow commented on #38
Talk needs to get accepted first, and in that case, yes I will see you there.

On Mar 23, 2013, at 9:53 AM, Zvi notifications@github.com wrote:

[2013-04-03 20:16] jaredmorrow commented on #30
Related:  basho/riak_cs#510 and basho/stanchion#47

[2013-04-03 20:49] jaredmorrow commented on #30
Fixed in PR #39

[2013-04-03 20:49] #30 closed, assigned to jaredmorrow

[2013-04-11 15:05] jsmartin opened #40 "init script returns success even if riak does not start"
This is on riak 1.3.1, Ubuntu 12.04 package.

[code]

$? should return 0 if the service has failed to start.

[2013-04-11 15:29] jaredmorrow commented on #40
Riak does not use node_package 'yet'.  The plan is to convert it for 1.4, this bug will be fixed then.

[2013-04-18 13:57] #9 closed, assigned to jaredmorrow

[2013-04-18 13:58] jaredmorrow opened #41 "Fix SmartOS patches functionality to bring node_package in line with Riak"

[2013-04-18 13:59] jaredmorrow opened #42 "Change all init scripts to use `<runner> getpid` throughout"

[2013-04-19 21:03] jaredmorrow commented on #40
@jsmartin so looking into it, strangely enough debian/ubuntu do not return error exit codes on init scripts doing start() and stop().  I made the `ssh` script fail to start and it indeed also returned `0`.

Pages like this http://www.thegeekstuff.com/2012/03/lsbinit-script/ and several others tell you to use the `log_end_msg` function which we use in `node_package`.

This [LSB page](http://refspec

[2013-04-19 21:24] jaredmorrow commented on #40
[Looks like I'm not the only who's confused](http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=208010), seems like the debian policy of exiting with a `0` exit code is clashing with the LSB.

[2013-04-19 21:24] jaredmorrow commented on #40
So turns out this is not a bug according to debian policy and will close this for now.

[2013-04-25 16:17] jaredmorrow opened #45 "Investigate options for library paths in riak script on SmartOS"
Library paths are added to the SMF manifest and used by `svcadm`, but when Riak is accessed outside of the SMF context, paths get lost.  For example, when doing a `riak ping` on SmartOS, you can get errors like:

[code]

[2013-04-29 19:02] hectcastro commented on #40
Was about to create a new issue for this, until @jaredmorrow pointed me at this one.

---

While working on the [vagrant-riak-cs-cluster](https://github.com/basho/vagrant-riak-cs-cluster) project, I noticed that the Ubuntu init script is failing silently. For what it's worth, the CentOS init script seems to be detecting failures correctly.

**Ubuntu**:

[code]

**CentOS**:

[code]

In this particu

[2013-04-29 19:16] jaredmorrow commented on #40
After many people complaining about this, I will change the implementation to meet this: http://refspecs.linuxbase.org/LSB_3.1.1/LSB-Core-generic/LSB-Core-generic/iniscrptact.html

[2013-05-01 14:12] kuenishi opened #48 "riak-cs-ee_1.3.1-1_amd64.deb does not include riak_repl_pb_api and so on"
I am testing riak-cs-ee with its MDC replication but it didn't work - looks like something's wrong.

with develop branch of Riak CS:

[code]

and the created deb package doesn't include riak_repl_pb_api directory and so on within its lib.

[2013-05-06 21:30] jaredmorrow commented on #48
Yes, this is indeed a huge bug and I need to figure out how to fix it.  I will actually move this to riak_cs because it will need to be fixed in that context.

[2013-05-06 22:03] jaredmorrow opened #50 "RPM %files changes behavior on Fedora 18"
See basho/riak_cs#554

[2013-05-07 15:44] #48 closed, assigned to nobody

[2013-05-10 14:10] jaredmorrow commented on #42
Closing this due to the addition of .pid files in the runner script now.

[2013-05-10 14:10] #42 closed, assigned to jaredmorrow

[2013-05-10 16:14] jaredmorrow opened #52 "Integrate rpmlint into rpm build"
`rpmlint` is available on Centos 5, 6, and Fedora's that are supported, so we should be using rpmlint to at least print out warnings when building a package.

[2013-05-10 16:18] jaredmorrow opened #53 "Investigate a good package testing method"
Debian has [piuparts](http://wiki.debian.org/HowToPackageForDebian#Testing_and_Check_the_package) and RPM has [mock](http://docs.fedoraproject.org/en-US/Fedora_Draft_Documentation/0.1/html/Packagers_Guide/sect-Packagers_Guide-Testing_a_Package_with_Mock.html) to test packages.

It would be interesting to see if some form of 'make test' could be used to test packages on a platform.

[2013-05-10 18:08] #50 closed, assigned to jaredmorrow

[2013-05-10 20:43] #40 closed, assigned to nobody

[2013-05-10 20:50] hectcastro commented on #40
Nice.

[2013-05-16 13:35] jaredmorrow opened #55 "Investigate shipping configuration to increase open files ulimit [JIRA: TOOLS-477]"
Users have expressed the interest in wanting the packages to automatically increase the open files limit by setting up files in '/etc/security/limits.d/'.  We should at least investigate the possibility and pro/cons of this solution.

We at least already have the {{ulimit_warn}} variable to simply set those limits the same to avoid warnings on linux.

[2013-05-17 04:12] jaredmorrow opened #56 "Name SunOS packages based on erlang architecture rather than uname"
On Solaris/SmartOS/Illumos `uname -p` always reports 'i386' despite being 64-bit builds due to the dual architecture support in Solaris.  So, we need to change the package naming based on the architecture Erlang was built for.

[2013-05-17 04:44] #56 closed, assigned to nobody

[2013-06-04 03:43] jaredmorrow opened #58 "Investigate using pkg_create over manual package creation"
Originally the documentation for `pkg_create` on SmartOS was too poor for me to be successful making packages for it, so the hand built method was used instead.

[This post](http://www.perkin.org.uk/posts/creating-local-smartos-packages.html) laid out the steps a little more clear, so it might still be an option.

[2013-06-04 03:44] jaredmorrow commented on #45
Using a `LD_PRELOAD_64=/opt/local/lib` on the nodetool lines of the runner script should do the trick.

[2013-06-04 17:18] jaredmorrow opened #59 "Runner coming up in maintenance mode in SmartOS SMF"
When looking at `svcs` sometimes Riak comes up in maintenance mode:

[code]

This might have to do with process id's not being caught by SMF.

[2013-06-15 18:04] hectcastro opened #62 "Riak CS and Stanchion init.d ordering"
The Riak CS init.d script gets triggered before Stanchion's, which leaves a small window for failed bucket and user creation requests. In the docs we advise people to start Stanchion before CS [0].

To reproduce, I spun up CS on a CentOS VM:

[code]

[0] http://docs.basho.com/riakcs/latest/tutorials/fast-track/Building-a-Local-Test-Environment/

[2013-06-25 14:50] aggress opened #64 "RPM installation failure - usermod: user riakcs is currently logged in"
Centos 6.4
rpm -ivh riak-cs-control-1.0.0-1.el6.x86_64.rpm
Preparing...                ########################################### [100%]
usermod: user riakcs is currently logged in
error: %pre(riak-cs-control-1.0.0-1.el6.x86_64) scriptlet failed, exit status 8
error:   install: %pre scriptlet failed (2), skipping riak-cs-control-1.0.0-1.el6

[2013-06-25 15:03] jaredmorrow commented on #41
Closed in #65

[2013-06-25 15:03] #41 closed, assigned to jaredmorrow

[2013-06-25 15:29] hectcastro commented on #64
Should these steps have reproduced that?

[code]

[2013-06-25 15:41] jaredmorrow commented on #64
No.  You are installing everything at once which is what I tested and that works.  The bug is hit if the user sets up riak-cs and/or stanchion and is running it, then decides later to install cs-control.  This then tries to install the package which tries to modify the the user and that is what fails.

[2013-06-25 15:59] hectcastro commented on #64
Ah. Was trying to figure out why I hadn't hit this with the Vagrant + CS project, and I think it's because Chef defers the service starts/restarts until the end of the run.

[2013-06-27 13:36] jaredmorrow opened #66 "`service riak start` returns 1 if Riak is already started"
`service riak start` should be allowed to run multiple times returning zero if Riak is already started.  A user has tested this on CentOS and it incorrectly returns 1 on multiple `service riak start` calls.

[2013-06-28 01:46] jaredmorrow commented on #66
This is not an issue in node_package, but in the packaging of Riak prior to its use of node_package.

[2013-06-28 01:46] #66 closed, assigned to nobody

[2013-07-10 16:45] jaredmorrow opened #69 "RPM files do not set 'APPVERSION' field properly"
We set the APPVERSION setting in the `env.sh` file in the toplevel Makefile.  That setting gets appended to the vars.config of each platform.  The problem is, RPM doesn't use a vars.config file, it generates the file in the specfile so the setting is getting lost at build time.

[2013-07-19 16:35] jaredmorrow commented on #64
Looks like a user on riak-users hit this during upgrade.  Now that I have more details I'll fix the usermod line.

[2013-07-19 22:32] #59 closed, assigned to nobody

[2013-07-19 22:34] jaredmorrow opened #71 "Generate source packages for debian"
We already generate source packages for RPM based systems, we should do the same for Debian systems.

[2013-07-24 20:07] mk1s opened #72 "Riak 1.4 rpm -- sudo tty error on boot"
# Riak 1.4 rpm won't start on bootup, with 'sorry, you must have a tty to run sudo' message
#### Discovery

A customer filed a ticket attempting to build a Riak-CS test setup with Riak 1.4.  The host was CentOS 6.4 and the packages were Riak-ee-1.4, Riak-cs-ee-1.3.1, and latest Stanchion.  Each service was properly added to startup via `service` command.  Riak was unable to start at boot, outputti

[2013-07-26 06:15] jaredmorrow opened #73 "Provide variable hooks to add RPM and Deb dependencies to packages"
Right now we default to certain dependencies of Erlang as our only dependencies.  Variables should be exposed so additional dependencies can be added to RPM and Deb files.

[2013-07-28 00:33] jeremyong opened #74 "When the hostname is not an FQDN, riak start will timeout instead of giving an error"
With a hostname that is not an FQDN, `riak start` will timeout out and leave a bunch of processes that are not cleaned up in a bad state. Also, it will not generate any logs to indicate what the problem is.

The issue can be determined with `riak ping`. The output from `riak start` says to run `riak console` and observe the output but `riak console` does not produce the same issue.

[2013-07-29 21:55] jaredmorrow commented on #18
See discussion in #64

[2013-07-29 21:55] #18 closed, assigned to nobody

[2013-07-29 21:56] jaredmorrow commented on #64
Fixed in #75

Tested by leaving riak running, uninstalling and installing while riak is currently logged in.

[code]

[2013-07-29 21:56] #64 closed, assigned to jaredmorrow

[2013-07-29 21:58] jaredmorrow commented on #69
Fixed in #76

[2013-07-29 21:58] #69 closed, assigned to nobody

[2013-08-01 22:06] jaredmorrow opened #77 "FreeBSD needs to scan lib and etc directories for extra files"
This was filed in basho/riak_ee#158 FreeBSD has the same problem SmartOS had where SNMP files aren't automatically installed.  The commit to fix SmartOS here: #60 should be ported to FreeBSD to auto-scan directories for files missing in the install.

[2013-08-07 20:04] jaredmorrow commented on #72
According to @mk1s this is now fixed.

[2013-08-08 03:07] uberbrady commented on #72
That's great - but where is it? I just installed the latest via RPM and the bug is still there.

How is it fixed? Did you guys replace sudo with su? Is there a commit that fixed it that we can see?

Is it expected in 1.4.2? If so, when can we expect that (roughly, of course)?

[2013-08-08 04:17] jaredmorrow commented on #72
@uberbrady so I was never able to reproduce it, and today @mk1s told me Riak 1.4.1 fixed his issue.  We never got rid of `sudo`, but some issues with how we treated `service` calls was fixed along the way.

Since you are still seeing this problem in Riak 1.4.1, can you give me some more information?  Do other apps work fine with `sudo` for you?  Does the init.d script for riak work fine for you ou

[2013-08-08 04:18] jaredmorrow commented on #72
Reopening due to @uberbrady still seeing issue on riak 1.4.1

[2013-08-08 04:20] mk1s commented on #72
@uberbrady I just retested both our Enterprise and Open Source 1.4.1 packages on a vanilla CentOS 6.4 and the issue does not manifest.  Please provide additional information regarding your OS version, sudo and environment settings.

[2013-08-08 05:20] uberbrady commented on #72
Sure, I'll spin you up a box and get you what you need.

[2013-08-08 05:44] uberbrady commented on #72
AWS Linux release 2013.03 (stock, unmodified)

followed instructions to install via RPM:

[code]

The console log (I can fetch via web GUI) says:

[code]

Workaround is I can disable 'requiretty' in /etc/sudoers. But I don't want to do that.

Or - if that's just gonna be how that's gonna be, you guys need to add a FAQ entry or something, because it's going to bite more people than just me. I lost

[2013-08-08 14:05] jaredmorrow commented on #72
So looking into this, you can disable the requiretty setting for just the riak user, rather than all users like:

`Defaults:riak   !requiretty`

Regarding sudo v. su, we've discussed this in the past, and there are some other reasons outside of just privilege to use sudo over su, mostly in how they handle passing environmental variables and shell settings to the new session. `su` uses the shell se

[2013-08-19 19:14] jaredmorrow opened #82 "Deb postinst script chmod's /etc directory due to template typo"
In the deb `postinst` script, the following line

[code]

typo'd {{package_install_name}} this causes the postinst script to have

[code]

This is a bug because it could have unintended side effects outside of the app being packaged.  It in minimized by the fact that most directories should already have the +x flag set.

[2013-08-19 19:18] #82 closed, assigned to nobody

[2013-08-19 19:45] jaredmorrow commented on #82
Trying the following command:

[code]

on every system I have, nothing is changed, because the case of having a subdir with differing +x from its parent is so rare.

[2013-08-20 17:15] jaredmorrow opened #83 "FreeBSD package incorrectly packaged as .tgz rather than .tbz"
For pkg_add to work, the package needs to be a .tbz file.

[2013-08-21 21:37] jaredmorrow commented on #83
Fixed in 1.3.4

[2013-08-21 21:37] #83 closed, assigned to nobody

[2013-08-21 21:37] jaredmorrow commented on #77
Fixed in 1.3.4

[2013-08-21 21:37] #77 closed, assigned to nobody

[2013-09-10 14:15] hectcastro opened #90 "Add support for FreeBSD pkg tool"
Filed on behalf of Bartlomiej Rutkowski:

FreeBSD introduced new `pkg` tool to replace old `pkg_add`, `pkg_delete`, etc. The new tool is recommended (yet not default) in FreeBSD 9.1 and is going to be the default in FreeBSD 9.2 (out in few days).

Once a user decides to switch to new `pkg` tool, the old package database will be converted to the new format, and old `pkg_*` tools can't be used anymo

[2013-09-10 14:21] hectcastro opened #91 "Outdated reference to OpenSSL dependency"
Filed on behalf of Bartlomiej Rutkowski:

The Riak 1.4.2 package requires OpenSSL 1.0.0.1_7, which is no longer available in ports. In order to fix that, the package needs to be recompiled each time the OpenSSL port is being updated or instructions in Riak's FreeBSD installation documentation need to mention `libmap.conf` to map missing libraries to existing ones.

In the following example, the sy

[2013-09-11 11:46] NorSoulx commented on #72
#Centos 6.3 (Azure image):

This did not work for me - Riak would not start on boot with this:

However, setting it for user 'root' worked though. Created this file and now Riak starts on boot.

[2013-09-12 12:05] jaredmorrow opened #93 "Incorrect package format in SmartOS causes segfault on pkg_info"
See this reported bug from @jsmartin

http://gnats.netbsd.org/cgi-bin/query-pr-single.pl?number=48207

[2013-09-12 12:11] jaredmorrow commented on #93
This fixes the issue on our end.

[2013-09-12 12:11] #93 closed, assigned to nobody

[2013-09-18 19:54] jaredmorrow commented on #90
I will begin investigating this, thanks @hectcastro and Bartlomiej Rutkowski

[2013-09-24 14:26] jaredmorrow opened #97 "SNMP MiB file not included in RPM"
When packaging riak_ee, the SNMP mib file is not being added to the package.

[2013-09-26 20:37] lukebakken opened #98 "FreeBSD package + cuttlefish issue."
OS: FreeBSD 9.1, Riak 2.0.0pre2

[code]

After install via `pkg_install` the permissions on `/usr/local/etc/riak` are as follows:

[code]

Riak can't start because the `riak` user doesn't have permissions to create the `generated` subdirectory.

To fix the issue, either of these series of commands will work.

[code]

[code]

[2013-09-26 21:57] jaredmorrow commented on #98
See basho/cuttlefish#37 I think this should be fixed in Cuttlefish

[2013-09-27 09:42] ghost commented on #72
I tested it on Riak Enterprise 1.4.2.
However Riak would not start on boot.
Workaround is still Disable requiretty in /etc/sudoers.

[2013-10-24 18:10] lukebakken commented on #91
@roooms @jaredmorrow FYI this still applies to pre4.

[2013-10-25 04:01] jaredmorrow commented on #91
Yeah, I haven't had any time yet to actually do my 2.0 tasks since I've been so busy testing all the major features for people.  I guess we'll have to punt on some of these platform fixes until after Ricon/tech-preview.

[2013-11-03 15:04] seancribbs opened #104 "Incorrect exit code from `stop()` in init.d script on RPM"
See basho/puppet-riak#25 for details. tl;dr `RETVAL` is not reassigned to `0` after usage.

[2013-11-04 17:40] jaredmorrow commented on #104
This was fixed after the 1.4.2 release of riak, which used `1.3.4` of node_package.   The fix is here: https://github.com/basho/node_package/commit/0c405da5083040b34da7162ee7f4583b30f3c27d

[2013-11-04 17:40] #104 closed, assigned to nobody

[2013-11-08 18:10] lukebakken commented on #91
This is the `/etc/libmap.conf` from my 9.1 system:

[code]

[2013-11-11 06:16] kuenishi opened #105 "start script picks up an IP address which is commented out"
In case when IP address is commented out in `riak.conf` like this:

[code]

then the `bin/riak` command grabs `127.0.0.1` as its IP address and the `start` and `ping` fails with timeout.

So the fix would be in [env.sh](https://github.com/basho/node_package/blob/develop/priv/base/env.sh#L59) like this:

[code]

[2013-11-11 20:27] joedevivo commented on #105
Fixed in PR #106

[2013-11-13 16:30] #105 closed, assigned to nobody

[2013-11-14 22:03] L2G commented on #104
Will the RPMs hosted at yum.basho.com be rebuilt with this fix?

[2013-11-15 03:02] kuenishi commented on #105
Great! Thank you.

[2013-11-15 03:48] jaredmorrow commented on #104
It will be caught in the 1.4.4 and 2.0 packages when they are released.

[2013-11-27 15:48] #98 closed, assigned to nobody

[2013-11-27 15:48] #97 closed, assigned to nobody

[2013-12-04 09:52] mikhailigonin opened #107 "Incorrect start using SSL for Erlang Distribution"
Guys, please help - i'm using node_package to build my application, and defined an environment variables in the file vm.ags as described http://www.erlang.org/doc/apps/ssl/ssl_distribution.html:
-proto_dist inet_tls
-ssl_dist_opt client_certfile "/var/lib/myapp/cert.pem"
-ssl_dist_opt server_certfile "/var/lib/myapp/cert.pem"
-ssl_dist_opt server_secure_renegotiate true
-ssl_dist_opt client_secure

[2013-12-04 18:18] jaredmorrow commented on #107
What do the console / error logs say?  There might be another problem unrelated to SSL.

[2013-12-05 06:04] mikhailigonin commented on #107
In the console log -- all well, as if the node is started correctly.
The error log is empty.
The 'ps eax | grep beam.smp' command -- shows, that the Erlang virtual machine is running.
But:
- Command 'start' -- hangs
- The node cannot be stopped, because the 'stop' command does not work
- I can't connect to the node through 'attach'/'attach-direct' for the same reason
- Even 'getpid' says that the

[2013-12-05 20:02] jaredmorrow commented on #107
So the best move forward is to run 'console' so that all output is seen.  If that doesn't give you a clue, you will need to run the commands that 'console' is running by hand (like the `nodetool` calls) until you find the issue.  Unfortunately I've done this many times and it is tedious, but it will usually find what is actually failing.  Sorry for the troubles.

[2014-01-16 14:41] jaredmorrow commented on #91
This should be fixed in recent pre's by building on my 9.2 builder that didn't have additional openssl installed outside of the default.

@hectcastro @lukebakken Try any recent package

[2014-01-16 14:42] #107 closed, assigned to nobody

[2014-01-16 17:07] hectcastro commented on #91
This appears to work for me on 9.2 using the 1.4.7 package. Although, admittedly, I'm a FreeBSD noob.

[2014-01-17 00:34] lukebakken commented on #91
I just updated my FreeBSD 9.1 vms to 9.2, removed `/etc/libmap.conf`, and 2.0.0pre10 started up just fine.

[2014-02-08 02:41] lukebakken opened #110 "Add riak init scripts to `chkconfig` on RedHat based distros"
The following was used on RHEL 6 to include the `/etc/init.d/riak` and other init scripts to the init management system. This makes it easier to manage the various symlinks in the `rc.X` directories to enable/disable these services.

[code]

[2014-02-13 16:57] jaredmorrow commented on #110
So do you recommend adding something to the top of the init script to do this for the user?

[2014-02-13 16:58] jaredmorrow commented on #110
Or maybe the post area of the spec file?

[2014-02-13 16:58] #91 closed, assigned to nobody

[2014-02-13 17:48] lukebakken commented on #110
I think part of the install process of the rpm... so I'm assuming that's what the "post area of the spec file" means :smile:

[2014-02-13 18:34] jaredmorrow commented on #110
Agreed.  I'll get that added before the beta tag.  Thanks.

[2014-02-14 15:54] lukebakken commented on #72
A suggestion - if the user running the `riak` or `riak-admin` script is `root`, use `su` to switch to the `riak` user, and if not `root`, use `sudo`

I believe that using `su -l` (login) will pass the necessary environment (`HOME` seems to be the most important variable).

[2014-02-14 16:02] jaredmorrow commented on #72
In the solaris/bsd world `su -` would be the same as `su <user> -l` without introducing a syntax difference b/w linux and solaris.  Post 2.0 we should do some testing for this.  When the scripts were first written `su` did not work, but that knowledge of "why not?" has since left.

[2014-02-15 09:21] benoitc opened #111 "copyright is missing"
the copyright is missing, the license is there but without any copyright line in scripts and such

[2014-02-21 04:55] jaredmorrow commented on #111
For which platform?

[2014-03-07 00:11] hectcastro opened #114 "Source /etc/sysconfig/riak in RHEL init script like Debian/Ubuntu"
The init scripts for Debian/Ubuntu source `/etc/default/riak`, which is an easy way to do things like set `ulimit` for Riak.

Is there a reason the RHEL based init scripts don't source something like `/etc/sysconfig/riak`? Would there be any downsides to adding that?

[2014-03-07 00:16] jaredmorrow commented on #114
No reason they can't do that.

[2014-03-07 05:03] jaredmorrow opened #115 "SmartOS packaging attempts to chmod vm.args which doesn't exist"
See https://github.com/basho/riak/issues/505

[2014-03-07 18:28] RyanGordon opened #117 "Starting riak fails on latest SmartOS"
It appears that running the latest available tarball (2.0pre11) for SmartOS fails to start.

[root@qriak1 ~] # /opt/local/sbin/riak start
/opt/local/sbin/riak[189]: [: argument expected
^C[root@qriak1 ~] # /opt/local/sbin/riak console
18:23:53.850 [warning] cuttlefish_util:filter_by_variable_starts_with/2 has been deprecated. use cuttlefish_variable:filter_by_prefix/2
config is OK
-config /var/db/

[2014-03-07 19:06] jaredmorrow commented on #117
Well this is very unfortunate, and another case of Joyent changing things in their datasets that breaks backwards compatibility.  This same command is running on a customer who runs on Joyent and has three different versions of SmartOS and it works.  Can you tell me what global zone and dataset you are using?

Thanks again for reporting this, I'm very sad with this news.

[2014-03-07 19:10] RyanGordon commented on #117
We're running "sdc:sdc:base64:13.3.1" with "joyent_20131218T184706Z" for the platform image. Thanks :)

[2014-03-07 19:15] jaredmorrow commented on #117
I don't know if I'll get to this before the next Riak 2.0 pre build, since this might be something different in the global zone and not the dataset.  Sorry for the troubles.

[2014-03-07 19:17] jaredmorrow commented on #117
I will fix the vm.args thing, we switch to an easy riak.conf method (that generates erlang-y config) to make everyone's lives easier with the config files, and I obviously missed some hidden corners.

The nice thing is, it is easily parsed now and is standard config file syntax rather than erlang terms http://docs.basho.com/riak/2.0.0pre11/ops/advanced/configs/configuration-files/

[2014-03-07 19:23] RyanGordon commented on #117
Hey Jared, I just ran this command across all of servers which run several different PI and image versions and it doesn't work on any of them - however I did notice all of our servers run on the base64 dataset instead of something else. Maybe the difference lies in using base64 versus another type of dataset?

[2014-03-07 19:36] RyanGordon commented on #117
Hm, I just tested it on a 'base' dataset instead of a 'base64' dataset and it still doesn't return anything - I wonder how it's working for the other customer

[2014-03-07 21:42] jaredmorrow commented on #117
So the change is probably in the Global Zone.  So no matter what dataset you use, the change is in the global zone.  I've had varying level of problems dealing with SmartOS because some userland / tools changes are in the global zone (and our customer has mixed global zones) and some userland / tools are in the datasets.  So I get X times Y combinations.

[2014-03-07 21:43] jaredmorrow commented on #117
I have a spare machine by my desk, on Monday I'll put the new global zone image on it and try to figure out where things went wrong.

[2014-03-07 22:03] jaredmorrow commented on #117
What does `man prctl` show you?

I see

[code]

At the top, where `-t basic` is fine.

[2014-03-07 23:36] RyanGordon commented on #117
That's odd, it shows the same thing:

[root@node1 ~] # man prctl
SunOS 5.10                User Commands                  PRCTL(1)

NAME
     prctl - get or set the resource controls of running processes,
     tasks, and projects

SYNOPSIS
     prctl [-P] [-t [basic | privileged | system]]
          [-n name [-srx] [-v value] [-e | -d action] [-p pid]]
          [-i idtype] id...

Maybe a bug in p

[2014-03-12 14:23] runesl commented on #72
The issue remains, but the following workaround worked for me:

[code]

[code]

[2014-03-12 19:58] cheeseplus opened #118 "Add FreeBSD rc.d script"
Packages for FreeBSD don't create any init script in /usr/local/etc/rc.d/

[2014-03-14 18:53] klafkoff commented on #71
I agree!

[2014-03-25 16:53] RyanGordon commented on #117
Hi,

I've been talking to Joyent about this issue and it would be helpful if we could know the dataset image(s)/Platform Images that you can reproduce -t basic working on?

Joyent also says that using -t system can be used in place of -t basic and that should do the same thing.

[2014-03-25 16:57] jaredmorrow commented on #117
Well it works on their cloud, b/c our customer who is on Joyent and has machines with the 1.6, 1.8, and 13.1 datasets all have '-t basic' still working.  The man pages still document '-t basic' as well.

My global zones are all at:  `SmartOS Live Image v0.147+ build: 20130629T040542Z`

[2014-03-25 16:58] jaredmorrow commented on #117
If I simply change it to `-t system` all is well according to them?

[2014-03-25 17:10] RyanGordon commented on #117
Hey Jared,

I've passed that information along to them

And yes, that is what they are telling me and it does appear to produce the right values from my end as well :+1:

[2014-03-28 17:51] jaredmorrow commented on #117
Fixed on develop, will show up in Riak 2.0.0 beta packages.

[2014-03-28 17:51] #117 closed, assigned to nobody

[2014-03-29 22:14] lukebakken commented on #90
Resources:
- https://wiki.freebsd.org/pkgng
- https://github.com/freebsd/pkg

[2014-03-30 19:13] cheeseplus opened #122 "Check for valid shell for riak user"
Reported by a user:

"Hey guys, I figured this out. We just recently went through a PCI audit, and as part of that the auditors had us change the shell for all non-login users to `/bin/false`. Riak (at least the version we're running!) is not at all amused by that apparently."

[2014-03-31 03:06] jaredmorrow commented on #122
That's correct, it needs a shell to set up the environment to run erlang.
 I've been bit by attempting to change the shell in the past. B

On Sunday, March 30, 2014, Seth Thomas notifications@github.com wrote:

[2014-04-01 15:09] jaredmorrow opened #124 "Ensure all config files are preserved on upgrade"
In both FreeBSD and SmartOS packaging, upgrades do non-standard things with config files.  For SmartOS, the current config files are copied to .bak files.  In FreeBSD, old config files are just squashed and replaced with the new ones.

The behavior should be similar to debian and redhat where the new files are made as .new files and the old config files are kept.

[2014-04-01 17:45] jaredmorrow opened #125 "Replace `sudo` with `su` to drop privileges"
This has come up in many issues, we should use `su` rather than `sudo` to drop privileges in the runner scripts.

Related: #72

[2014-04-02 17:11] jaredmorrow commented on #115
Fixed in #123

[2014-04-02 17:11] #115 closed, assigned to jaredmorrow

[2014-04-02 21:06] jaredmorrow commented on #72
Fixed in https://github.com/basho/node_package/pull/126

[2014-04-03 21:15] Vagabond opened #127 "FreeBSD package upgrades"
Set up a repo so we can test package upgrades and preserve/rename config files.

[2014-04-03 21:30] #72 closed, assigned to nobody

[2014-04-03 21:30] #125 closed, assigned to nobody

[2014-04-03 21:32] jaredmorrow commented on #124
This was fixed on SmartOS in #123, but still remains unanswered for FreeBSD.  This is somewhat related to #127

[2014-04-03 21:33] jaredmorrow commented on #122
This will not be fixed as we need a shell to run erlang after being dropped into the riak user.

[2014-04-03 21:33] #122 closed, assigned to nobody

[2014-04-03 21:33] jaredmorrow commented on #118
This has been fixed for FreeBSD 10 packages.

[2014-04-03 21:33] #118 closed, assigned to nobody

[2014-04-03 21:34] jaredmorrow commented on #114
Fixed in #116

[2014-04-03 21:34] #114 closed, assigned to nobody

[2014-04-03 21:35] jaredmorrow commented on #110
This was fixed in #112

[2014-04-03 21:35] #110 closed, assigned to nobody

[2014-04-03 21:36] jaredmorrow commented on #90
This has been done in #128

[2014-04-03 21:36] #90 closed, assigned to nobody

[2014-04-07 18:24] lukebakken opened #130 "Some small issues with `su` replacement"
Related to #125 and #72

FreeBSD 9.2 test VM:
- `riak` command can be run to get usage without `sudo`, `riak-admin` cannot:

[code]
- `riak ping` requires `sudo` (fixed already I believe)

[2014-04-07 19:08] Vagabond commented on #130
Jared and I discussed the riak-admin thing, but since riak-admin can ONLY be run with superuser privs (or as the riak user) anyway, we decided it wasn't terribly interesting to print the usage message.

[2014-04-07 19:09] lukebakken commented on #130
OK!

[2014-04-07 19:09] #130 closed, assigned to nobody

[2014-04-07 19:15] lukebakken opened #131 ""riak reboot" does not reboot Riak"
Testing a 2.0 build with the `sudo` -> `su` changes on a single node, it appears that `riak reboot` does not restart Riak as the command help and docs would indicate:

[code]

[2014-04-07 19:37] jrwest commented on #131
I don't believe this worked before either. @lordnull I think you verified that?

[2014-04-07 21:40] lordnull commented on #131
By default it doesn't seem to work, because by default the erlang heartbeat functionality is not enabled. If that was enabled (in the old style vm args) it should restart. However, even the otp distribution makes no hard guarantee about it.

[2014-04-07 22:21] jrwest commented on #131
Sounds like a candidate for removal

Sent from my iPhone

[2014-04-07 22:35] lukebakken commented on #131
Along with "restart" :smile:

[2014-04-07 23:23] jaredmorrow commented on #131
This has come up several times, I'll have to dig up the last email thread.  I don't dare risk removing anything else before beta, and `restart` needs to be there, so maybe we can fix that if it is broken.  I agree reboot should go away.

[2014-04-08 00:20] lukebakken commented on #131
I'll do some restart testing. FYI the general CSE advice at the moment is "don't use restart, use stop/start"

[2014-04-08 00:25] jrwest commented on #131
@jaredmorrow restart needs to be there because packages or something assume/require it, or that was the opinion at the time?

[2014-04-08 00:33] jaredmorrow commented on #131
Yes that's the reason we wanted restart.

On Monday, April 7, 2014, Jordan West notifications@github.com wrote:

[2014-04-08 00:47] jrwest commented on #131
ok, probably a call for @jonmeredith but I'd vote for fixing `restart` and removing `reboot`.

[2014-04-08 01:05] lukebakken commented on #131
I'm not sure how much fixing there is to be done for `init:restart/0` as it's a VM function.

[2014-04-08 01:10] jaredmorrow commented on #131
Well init:restart/0 used to work, but I wonder if our longer startup and shutdown is just too much for that poor little function.  If we just wanted the functionality of the command line we can have it call stop and start in sequence, but the point of it was to restart riak without exiting out of the VM.

[2014-04-08 01:10] lukebakken commented on #131
:+1: to stop/start behind the scenes ... I think your theory about restart is correct. In addition, stopping the process / starting it clears up sockets, memory, etc. I don't know how `init:restart` interacts with leveldb/bitcask (NIF) either.

[2014-04-08 01:16] jaredmorrow commented on #131
For reference the only package that calls 'riak restart' is debian in a
'reload' function that people expect to not do a full restart.  I'd rather
have something that works over something just trying to square peg in a
round hole.

On Mon, Apr 7, 2014 at 7:10 PM, Luke Bakken notifications@github.comwrote:

[2014-04-08 01:17] lukebakken commented on #131
Unfortunately, we have people running `riak restart` from the command line... and it doesn't always leave things in a good state.

[2014-04-08 01:47] jaredmorrow commented on #131
Agreed.  I'm happy to make the change, just want either Jon or a PM to
chime in.

On Monday, April 7, 2014, Luke Bakken notifications@github.com wrote:

[2014-04-09 18:54] cheeseplus commented on #118
Will we be supporting FreeBSD 9 with 2.0?

[2014-04-09 20:14] jaredmorrow commented on #118
Yes.

[2014-04-10 15:47] jaredmorrow commented on #131
Removed reboot

[2014-04-10 15:47] #131 closed, assigned to nobody

[2014-04-10 17:59] lukebakken commented on #131
@jaredmorrow - thanks. Any word on the future of `riak restart` ?

[2014-04-10 18:12] jaredmorrow commented on #131
I'll rework 'restart' post-beta as a bug fix for RC.  Restart does work on fast machines with little data, but times out when startup takes too long.

[2014-04-10 18:25] lukebakken commented on #131
Thanks for the info @jaredmorrow

[2014-04-18 18:46] Vagabond opened #133 "'su' argument coalescing doesn't work in all cases"
[code]

fails while

[code]

works, note the addition of spaces in the second form.

[2014-04-18 19:19] jaredmorrow commented on #133
Welp

[code]

worksforme

[2014-04-18 19:40] jaredmorrow commented on #133
On ubuntu 12.04 (precise)

[code]

[2014-04-18 21:26] jaredmorrow commented on #133
Well I reproduced it, peep this craziness

After the first pass through, the arguments are escaped as they should be, but then, "props" is zipped into all other fields:

[code]

[2014-04-21 18:36] hectcastro opened #135 "erlexec: HOME must be set"
Using the `service` command to interact with the Riak 2.0.0beta1 `init.d` script a Ubuntu 12.04 box yields:

[code]

If I run the same commands against the `/etc/init.d/riak` script, I get:

[code]

It appears that the `service` command wipes out environmental variables. If I add an export for `HOME` to the `init.d` script:

[code]

Everything works as expected:

[code]

[2014-04-21 18:47] Vagabond commented on #135
We should probably figure out what environment vars, in general, need to be set. We could simplify our 'su' usage if we didn't have to emulate a login session to get the right ENV vars set up.

[2014-04-21 19:47] jaredmorrow commented on #135
I have another node_package bug I'm testing today, so if anyone else can
take this one before beta2 that'd be great.  If not I'll try to get to it
later this week.

On Monday, April 21, 2014, Andrew Thompson notifications@github.com wrote:

[2014-04-22 13:39] jaredmorrow opened #136 "nodetool has too restrictive permissions on ubuntu"
[code]

Non-root users should be able to ping a node.

[2014-04-22 19:44] jaredmorrow commented on #135
I just saw this issue on Ubuntu 14.04 as well.  This is for sure a must-fix for RC.

[2014-04-22 20:13] jaredmorrow commented on #133
This is now fixed and will be in beta2

[2014-04-22 20:13] #133 closed, assigned to nobody

[2014-04-22 20:14] jaredmorrow commented on #136
Interesting bit, this was not a problem on Ubuntu 14.04, only 12.04.  Fun

[2014-04-25 22:51] jaredmorrow commented on #135
Will be fixed in beta2.

[2014-04-25 22:51] #135 closed, assigned to nobody

[2014-04-25 22:51] jaredmorrow commented on #136
Will be fixed in beta2

[2014-04-25 22:51] #136 closed, assigned to nobody

[2014-04-30 19:00] themartorana opened #138 "On FreeBSD 10.0-RELEASE-p2, Riak 2.0 Solr temp directory missing"
@cheeseplus mentioned this might be a configuration issue, so I'm posting this here.

After installing the Riak 2.0 package and starting the Riak service, Riak crashed because Solr fails to start properly. The Solr log file shows a missing temp directory:

crash.log:

[code]

solr.log:

[code]

Adding `/usr/local/lib/riak/solr-webapp` and setting the appropriate permissions on the directory, every

[2014-05-09 14:37] jaredmorrow commented on #138
@rzezeski did you get a chance to look at this?

[2014-05-13 14:07] jaredmorrow opened #139 "SuSE Enterprise Linux Packages"
Add support for SLES 11 packages

[2014-05-21 16:04] jaredmorrow opened #141 "`service` and `/etc/init.d/riak status` report a bad name on CentOS 5"
The name of the service is getting garbled in the init script somehow

[code]

[2014-05-21 21:59] #139 closed, assigned to jaredmorrow

[2014-05-23 20:35] macintux commented on #131
@jaredmorrow is this still something you're planning for RC?

[2014-05-23 20:46] jaredmorrow commented on #131
I'm going to try and get to it, it keeps getting pushed to the bottom of the pile.

[2014-05-23 21:07] jaredmorrow opened #142 "Fix `runner restart` command for slow daemons"
`riak restart` sometimes fails if it takes too long to start or stop the service.  Look into how best to resolve this so it reliably restarts.

[2014-05-30 22:55] rzezeski commented on #138
@themartorana I'm closing this as the bug is being tracked by basho/yokozuna#387.

[2014-05-30 22:56] #138 closed, assigned to rzezeski

[2014-05-31 01:11] jaredmorrow commented on #138
Thanks Z!

On Friday, May 30, 2014, Ryan Zezeski notifications@github.com wrote:

[2014-06-02 16:08] themartorana commented on #138
Thanks, @rzezeski

[2014-06-17 01:28] megahall commented on #72
This problem is still happening for me using the following RPMs, CentOS 6.5:

[code]

[2014-06-17 01:31] jaredmorrow commented on #72
This took a major change switching from sudo to su.  It is fixed in Riak
2.0.

On Monday, June 16, 2014, Matthew Hall notifications@github.com wrote:

[2014-06-19 18:54] jcapricebasho opened #144 "Clarify `log_daemon_msg` in Debian init.script"
the log_daemon_msg messages, when output, are a bit difficult to read.

For example, the restart message:

[code]

outputs: "Restarting Riak is a distributed data store riak"

The description can be left out, or added to the end like: "Restarting riak." or "Restarting riak. Riak is a distributed data store." for better readability.

[2014-06-21 15:19] jaredmorrow commented on #144
Fixed on develop

[2014-06-21 15:19] #144 closed, assigned to nobody

[2014-06-24 15:15] jaredmorrow commented on #144
New text

[code]

[2014-06-26 02:12] macintux opened #147 "Help text for chkconfig is broken"
This is the output from `riak help`:

[code]

The missing text between "to" and "also" is "config generate"; it probably should also be explicit that it checks both `riak.conf` and `advanced.config`.

[2014-06-26 03:56] jaredmorrow commented on #147
If you change it make sure it is <package_name>.conf since node_package is
not Riak specific.

On Wednesday, June 25, 2014, John Daily notifications@github.com wrote:

[2014-06-27 17:39] #147 closed, assigned to nobody

[2014-07-15 19:56] lukebakken opened #150 "Issues with FreeBSD 10 - 2.0.0rc1 package"
Package installed: `riak-2.0.0rc1.txz`

On start, this error is generated in `/var/log/riak/solr.log`:

[code]

To resolve, create the directory _and_ set `riak:riak` as the owner of `/usr/local/lib/riak` and subdirectories (`root:wheel` on the install):

[code]

[2014-07-15 21:44] lukebakken commented on #150
FYI the `mkdir` step isn't necessary as Solr creates the directory on start. It's just a permissions issue.

[2014-07-15 22:12] lukebakken commented on #150
I'm looking into redirecting that temp directory to `platform_data_dir`

[2014-07-15 22:19] jaredmorrow commented on #150
Hmm, this was supposed to be fixed here: https://github.com/basho/node_package/issues/138

[2014-07-15 22:21] lukebakken commented on #150
@jaredmorrow checking all that now, thanks for the pointer:

https://github.com/basho/yokozuna/issues/387

[2014-07-15 22:31] lukebakken commented on #150
@jaredmorrow - FYI, on Ubuntu, `platform_base_dir` has `riak:riak` ownership, while on FreeBSD 10 it's `root:wheel`

[2014-07-21 14:44] lukebakken opened #152 "Installation via yum - "obsoleted by package" error"
This may not be an error in our packaging as a search shows other software packages with the same issue when installing via `yum`. More research is needed. See ticket 8352.

[code]

[2014-07-21 17:01] lukebakken opened #154 "Init script dependencies."
Right now there are no dependencies between the init scripts for Riak, Riak CS and Stanchion. This creates issues during the shutdown / reboot of a node (see linked mailing list topic).

http://lists.basho.com/pipermail/riak-users_lists.basho.com/2014-June/015411.html

Also see: https://github.com/basho/riak_cs/issues/718

Our init scripts could be more intelligent about detecting other Basho prod

[2014-08-07 15:34] boj opened #158 "Riak 1.4.10 - FreeBSD-10.0 - riak-admin cluster"
Running any specific `riak-admin  cluster <foo>` command just ends up printing out the usage for `riak-admin cluster` and doesn't actually execute the commands.

Manually running the wrapped commands works on the other hand:

    /usr/local/lib/riak/erts-5.9.3.1/bin/escript \
    /usr/local/lib/riak/erts-5.9.3.1/bin/nodetool -name riak@10.0.0.2 \
    -setcookie riak rpc riak_kv_console staged_join

[2014-08-13 04:34] jaredmorrow commented on #158
FreeBSD 10 support wasn't added to Riak until the 2.0 series.  Can you try the pkg package of 2.0.0 Release Candidate to see if it fixes your issues?  http://docs.basho.com/riak/2.0.0/downloads/

[2014-08-13 04:38] jaredmorrow opened #159 "Make `rel/data` directory optional for apps that do not need it [JIRA: TOOLS-140]"
Some apps won't have a `rel/data` directory like Riak, and node_package should work even without one.  A user attempted to use node_package and ran into this error on debian.

[code]

[2014-08-13 20:58] lukebakken opened #160 "Upgrading Riak and basho_patches"
When Riak is upgraded via a package manager, the `basho-patches` directory is left alone. Frequently, a Riak user will overlook the need to empty out the custom `.beam` files that potentially reside here.

This issue is to discuss whether or not to clean up this directory on upgrade. Perhaps on a `1.X.Y` to `1.X.Y+1` upgrade the directory is unchanged, but a `1.X` to `1.X+1` or `1.X` to `2.Y` the

[2014-08-18 17:39] jaredmorrow commented on #160
This is a tough one.  The only thing I can think of if finding a way to warn the user.  I'd really hate to remove a patch that wasn't affected by an upgrade.

[2014-08-18 17:39] jaredmorrow commented on #160
Definitely a good thing to think about though.

[2014-08-26 14:18] jrwest opened #161 "apt Release should not have hashes of Release file"
According to a user, submitted by a different source so unfortunately I don't have much background:

"Your apt mirror Release should not include a md5sum/SHA/etc for the Release file itself, its invalid and causes some tools to fail. "

[2014-08-26 14:18] jrwest commented on #161
Apparently having the md5sum/sha/whatever causes some tools to break

[2014-08-27 15:59] ooshlablu commented on #161
Hmmm, so this was done wilfully in the scripts:

[code]

And it is definitely a valid way of doing things, and in fact the way that all modern debian based distros work: https://wiki.debian.org/SecureApt

I'm guessing that the user didn't pull down the key as per the docs: http://docs.basho.com/riak/latest/ops/building/installing/debian-ubuntu/#Installing-From-Apt-Get

MD5, SHA, etc are also requi

[2014-08-27 17:24] jaredmorrow commented on #161
Reading the docs, this looks like we are doing it correctly.  I'm closing.

[2014-08-27 17:24] #161 closed, assigned to ooshlablu

[2014-08-29 16:22] angrycub opened #162 "Ctrl-C causes unexpected behavior in `riak-admin top` and more [JIRA: TOOLS-247]"
The change from sudo to su is causing an issue when Ctrl-C is being pressed in interactive applications such riak attach, riak-admin top.

When Ctrl-C is pressed you receive

[code]

in the case of riak-admin top, the output continues in the background

This behavior appears to be caused by a change in the check_user() function from

[code]

https://github.com/basho/node_package/blob/1.3.8/priv/ba

[2014-08-29 16:51] jaredmorrow commented on #150
@lukebakken So just confirming, this never got fixed in Yoko correct?

[2014-08-29 17:19] lukebakken commented on #150
@jaredmorrow unfortunately the PR is still open.

[2014-09-12 17:58] lukebakken opened #163 "Cuttlefish on FreeBSD 10"
See ticket 8653.

Customer is unable to redirect all Riak writable data to `/var/db/riak`.

Also see issue #150

[2014-09-26 14:21] lukebakken opened #164 "Issue with Debian init scripts"
From the riak-users mailing list (http://lists.basho.com/pipermail/riak-users_lists.basho.com/2014-September/015971.html)

I think we have found a small bug in riak/riak-cs debian init scripts (/etc/init.d/riak{,-cs}). When used in CRON, ie for restarting riak process on a schedule, init scripts fail because they don't set PATH variable to recommended value. Without setting proper PATH, init scrip

[2014-09-29 06:55] boj commented on #158
I have attempted to install 2.0.0 on a fresh FreeBSD 10.0 install.

[code]

Results in:

[code]

And the dump:

2014-09-29 06:50:35.634 [info] <0.7.0> Application lager started on node 'riak@127.0.0.1'
2014-09-29 06:50:35.656 [info] <0.7.0> Application sasl started on node 'riak@127.0.0.1'
2014-09-29 06:50:35.656 [info] <0.7.0> Application asn1 started on node 'riak@127.0.0.1'
2014-09-29 06:50:35.

[2014-09-29 13:29] jaredmorrow commented on #158
`Shared object \"libstdc++.so.6\" not found, required by \"eleveldb.so\"'`

This looks to be a common problem with FreeBSD 10 since they changed up how they install the C++ developer stack https://wiki.freebsd.org/NewC++Stack

I see this affected MariaDB, Python, and Perforce in this thread http://www.laszlopusztai.net/2014/01/26/running-perforce-on-freebsd-10/

If you use ports, the fix is easy,

[2014-09-30 01:57] boj commented on #158
@jaredmorrow Thanks, that makes sense.  I'll give it a shot.

[2014-10-03 19:17] macintux opened #165 "Suggest chkconfig mention (or use)"
When a node fails to start, the following message is produced:

[code]

May be worth adding a reference to `riak chkconfig` as another troubleshooting step since syntax errors in `advanced.config` will be silently ignored.

Another option would be to run `chkconfig` for every invocation of `start`, without producing output for a successful invocation, with a `-f` or similar override if someone rea

[2014-10-16 14:04] lukebakken opened #167 "Inconsistent double-quote usage with $@"
https://github.com/basho/node_package/blob/develop/priv/base/runner#L165

It should be:

[code]

There are other places where quotes need to be added.

See #120 and #471.

[2014-10-29 18:46] m87carlson opened #168 "FreeBSD Packages - please make pkgng packages"
Most of the available packages are built using the old FreeBSD package format, which is not usable on 10, and very cumbersome on 9.x systems that have updated to the new PKGNG format

Can the next round of packages for FreeBSD be build against the pkgng format

OR, having a proper port maintainer would be the best overall solution, and let the FreeBSD community help maintain and patch.

[2014-10-29 18:47] m87carlson opened #169 "Riak 2.0 and FreeBSD - require lang/gcc and not misc/compat9"
Riak 2.0.1 package seems to require the FreeBSD 9 compat package, however, I wonder if it it actually needs gcc (4.8 seemed to work fine).

If it uses libstdc++ from the compat package, Riak 2.0 will not run at all, it must use a gcc provided libstdc++

[2014-11-12 12:31] alandsidel commented on #158
The original bug in this report is present on Riak Freebsd 8 & 9 as well, with Riak since 1.4.6.

The problem is in the shell scripts, likely something somewhere is using 'bashisms' that don't work correctly with the real bourne shell (/bin/sh) which the scripts are using.

There are similar problems with the startup script (/usr/local/etc/rc.d/riak), which always thinks that riak has timed out wh

[2014-11-14 14:22] alandsidel commented on #158
I had some time to dig into this today, and have found the problem is with the su command in env.sh's check_user function.  There are two problems here, on FreeBSD.
1. The -c option to su is not for running a command, it's for selecting a login class.  That argument needs removed.
2. The command and arguments should not be enclosed in quotes.  They are making the command, with arguments, look like

[2014-11-14 18:40] jaredmorrow commented on #158
I no longer have easy access to FreeBSD, but you are right about the '-c' on freebsd, I'm curious why it worked in my testing.  The quotes issue cannot be changed generally though.  In the case of commands like bucket types where JSON is passed on the command line, you need the quotes for things to work.  If you are making changes for your install, you should just go back to using "sudo" instead o

[2014-11-14 19:24] alandsidel commented on #158
Understood, thanks for the insight Jared.

Whoever picks this up:
1. I have no problem with switching to sudo.  The FreeBSD ports maintainer (whoever that is) will have to be sure to add sudo to the package requirements list, that's all.  It's not part of the base system.
2. The quotes thing can MAYBE be worked around by wrapping the command in one set of quotes, and the args in another.  As it is

[2014-11-14 20:15] jaredmorrow commented on #158
The quotes thing is tough, because after the call to 'su', the quotes get stripped off when you drop privileges.  I think I probably spent two days solid just trying to get the quoting right in all the subshells and for it to work in cases of both already being root and after the script re-calls itself after the su.  JSON on the command line really made it harder when trying to work the combo of "

[2014-11-14 20:36] alandsidel commented on #158
Well that may be a sign that a shell script just isn't the right tool for the job any longer, to be honest, the whole crazy su/sudo thing sort of made my skin crawl when I saw it.  Potentially error prone regexes escaping shell command args being passed to sudo..... eek.

I think the "real" solution is to get rid of all the subshell weirdness.

A Real Program(tm) could geteuid()/seteuid() as neede

[2015-01-14 19:53] jcapricebasho opened #174 "Sign RPMs with GPG key"

[2015-01-29 22:46] dekobon opened #177 "Riak start emitts error when starting on SmartOS"
This issue is very similar to this issue: https://github.com/basho/node_package/issues/117

When starting the riak script as so: ```
[root@riak-02-staging ~]# riak start
***
Warning: please use 'svcadm enable riak' instead
***
/opt/local/sbin/riak[185]: [: argument expected
[root@riak-02-staging ~]# riak ping
pong
[code]

What's happening is the command executing for ULIMIT_S is returning a blank

[2015-03-30 21:50] lukebakken opened #182 "Issue with packagecloud.io [JIRA: TOOLS-95]"
http://lists.basho.com/pipermail/riak-users_lists.basho.com/2015-March/016982.html

I want to report again a problem I have with packagecloud.io. Every time I do `aptitude update` I get a hit as if a new version of Riak is available (that is not)... and I have to re-install Riak to a version I already have.

I just did an "aptitude safe-upgrade" and upgraded Riak to version 2.0.5 (latest):

[code]

[2015-04-01 20:26] gcymbalski commented on #182
Turns out that this was an issue with the index generated by Packagecloud- Julio's put fixes in place to prevent it from happening again, and we're good! Just confirmed that it's behaving as normal on the platforms affected.

[2015-04-01 22:54] Basho-JIRA commented on #182
[~gcymbalski], can this be closed?

**_[posted via JIRA by Derek Somogyi]**_

[2015-04-01 22:58] Basho-JIRA commented on #182
Yep!

**_[posted via JIRA by Greg Cymbalski]**_

[2015-04-01 22:58] #182 closed

[2015-08-01 21:16] marksteele opened #187 "Node package + cuttlefish + inet_tls erlang distribution"
I'd be nice if we can get an official solution to integrating inet_tls erlang distribution using node_package and cuttlefish out of the box.

For example, if I create a schema for cuttlefish with something like:
[code]
I believe the erlang node boots up properly, however nodetool is borked as it's unaware of the SSL settings. I do believe some folks have managed to get this working, wondering if/w

[2015-08-07 00:18] sargun opened #189 "Pickup basho-patches in nodetool"
Right now, when you run nodetool from node_package, it doesn't add basho-patches to the code path when running escript. This means that if you've patches any of core OTP, you must overwrite those files as opposed to simply dropping a replacement in basho-patches.

[2015-08-07 22:39] Basho-JIRA commented on #189
Can this be prioritized in the next set of DevOps work?

**_[posted via JIRA by Derek Somogyi]**_

[2015-08-10 08:43] marksteele commented on #159
+1

[2015-10-09 22:58] jaredmorrow opened #190 "`id -un` not supported on Solaris 10"
### Preface

I put the below comment on a PR #186 , but that PR is already closed and I didn't know if anyone would see it. I don't use Solaris 10, but I happened to see the commit.  The best way to fix it is to drop support for Solaris 10 tbqh :)

### Bug

There was a reason `id -un` wasn't used and it was due to the continuing support of Solaris 10.  Solaris 10 does not have `-u` as an option in

[2015-10-12 13:11] jonmeredith commented on #190
`whoami` sounds much less painful.

[2015-10-15 19:57] angrycub opened #191 "Risk of atom table exhaustion from dynamic "maint" node naming"
When nodetool makes a VM to perform an operation against a running Erlang application, it includes the PID of that specific script invocation:

https://github.com/basho/node_package/blob/develop/priv/base/nodetool#L191

This has the unintended consequence of potentially exhausting the atom table on a long-running node, or a node upon which nodetool-backed maintenance activities are run frequently.

[2015-11-03 04:33] Basho-JIRA commented on #189
pending feedback from Greg

**_[posted via JIRA by David Andersen]**_

[2015-11-24 14:55] macintux opened #192 "Su invocation is not escaped properly for TS work [JIRA: TOOLS-167]"
When using TS packages, riak-admin is crippled for defining bucket types because of the need to use `su` to the `riak` user.

As seen below from `sh -x`, the JSON is not wrapped properly, and the shell complains.

[code]

[2015-11-24 14:56] macintux commented on #192
Valid workaround: su to the `riak` user before executing the riak-admin command.

[2015-11-24 14:57] macintux commented on #192
(discovered by @binarytemple)

[2015-12-03 21:02] Basho-JIRA commented on #192
A PR was submitted that should resolve this- see https://github.com/basho/node_package/pull/193

**_[posted via JIRA by Greg Cymbalski]**_

[2015-12-04 19:05] Basho-JIRA commented on #192
Packages that demonstrate this change are up at s3://builds.basho.com/nightlies/riak-ts/1/centos-6/

**_[posted via JIRA by Greg Cymbalski]**_

[2015-12-04 21:06] Basho-JIRA commented on #192
Fix looks good to me:

[centos@ip-172-31-27-220 ~]$ sudo /usr/sbin/riak-admin bucket-type create testone '{"props":{"table_def":"CREATE TABLE testone (field1 varchar not null, field2 varchar not null, time timestamp not null, PRIMARY KEY((field1, field2, quantum(time, 15, s)), field1, field2, time))"}}'
testone created

WARNING: After activating testone, nodes in this cluster
can no longer be down

[2015-12-08 16:56] Basho-JIRA commented on #189
reviewed with Greg. need to sync up with Sargun again for additional info.

**_[posted via JIRA by David Andersen]**_

[2015-12-15 20:00] Basho-JIRA commented on #189
This could probably done by adding something like this to the `main/1` function in https://github.com/basho/node_package/blob/develop/priv/base/nodetool

[code]

The tricky part of this would be getting knowledge of where the basho-patches dir is. The above works for "relocatable releases" where the erts location is at the same directory level as the lib directory. Would have to do some thinking a

[2016-02-26 11:45] kesslerm opened #197 "Don't use "Ctrl-C" to detach from "riak attach" console [JIRA: TOOLS-237]"
On some platforms (e.g. RHEL/CentOS), "Ctrl-C" immediately detaches the erlang process from the controlling terminal.

A better way to terminate the Eshell is to use the "Ctrl-G q" sequence, as advised by Eshell on startup.

[2016-03-18 14:43] #197 closed

[2016-03-18 15:15] kesslerm commented on #162
This is partially addressed by #198. At least the user is no longer prompted to press Ctrl+C.
However, Ctrl+C is a standard *nix way of terminating an application, so the underlying issue should still be addressed.

[2016-03-18 15:26] kesslerm commented on #162
https://www.novell.com/support/kb/doc.php?id=7009640 suggests that the change in behaviour `su -c` (for the coreutils version of `su`) was made to address a possible security issue that allowed a tty to be hijacked. `su --session-command` may re-introduce this issue.

Also Debian derived distributions use a different `su` implementation that does not support `--session-command`.

[2016-04-28 12:48] bobergj opened #202 "rebar3 support"
The rebar official repo now says that rebar is deprecated in favour of rebar3. Do you intend node_package to support rebar3 in the near future? I note that someone maintains a fork https://github.com/dergraf/node_package with support.

[2016-04-28 18:54] tburghart commented on #202
We're working on rebar3 support for all of our packages, but my guess is that node_package will be later in the process.  No specific public timeline at this point, but work is active and ongoing.

[2016-06-02 20:14] iamtwang opened #203 "rhel.init.script cannot create pidfile"
Hi
I used rhel.init.script in my project.
with command service name status, it was  "name dead but subsys locked".
went to the folder, I cannot find the pidfile in /var/run

Also,  I must start the service as root, if not , it would say cannot access to subsys lock

[2016-07-07 04:26] #158 closed

[2016-08-08 14:23] kesslerm commented on #192
As reported by a Solaris user on 2.0.7, the fix broke execution on Solaris10:

`/opt/riak/sbin/riak: syntax error at line 242:`ESCAPED_ARGS=$' unexpected`

[2016-08-08 15:59] kesslerm opened #206 "Riak 2.0.7 broken on Solaris10 [JIRA: TOOLS-345]"
When trying to start RIAK EE 2.0.7 LTS on Solaris 10 - riak won't start - instead the following error message is printed:

```/opt/riak/bin/riak: syntax error at line 242: `ESCAPED_ARGS=$' unexpected```

This is a regression in in `env.sh` from #193, #192.

For a fix, see #205

[2016-08-10 11:15] kesslerm commented on #190
Flagged up by customer on Zendesk.

[2016-10-01 15:50] #206 closed

[2017-02-08 22:09] #16 closed

[2017-02-15 11:11] larshesel opened #213 "Usage of random module is deprecated in otp19 [JIRA: TOOLS-474]"
Hi

After switching to a new version of the node_package I get warnings when interacting with my generated release:

[code]

It seems to be due to the usage of `random` introduced recently:

https://github.com/basho/node_package/commit/413a4aba1d8ccabd1faf229e1f904196f98e92fa

the only simple solution I can think of would be to replace the `random:uniform(1000)` with `erlang:phash2(os:getpid(), 10

[2017-02-15 20:16] larshesel opened #215 "$RANDOM is bash specific and should be avoided"
The runner shell script is using a bashism, namely $RANDOM:

https://github.com/basho/node_package/blob/develop/priv/base/runner#L309

but the runner script is using `/bin/sh` which on many systems is not bash and thus $RANDOM is undefined:

https://github.com/basho/node_package/blob/develop/priv/base/runner#L1

Something portable would need to be used in place of $RANDOM.

[2017-02-15 20:27] larshesel commented on #215
A possible solution may be something like:
[code]

But I have no idea if one can really count on `tr`, `head` and `/dev/urandom` to be present on all systems (OSX, Solaris...)

[2017-03-29 06:05] larshesel commented on #213
Since #214 was merged I'll close this. Thanks!

[2017-03-29 06:05] #213 closed

[2017-04-11 13:36] davidmweber commented on #55
I can suggest adding a term like `LimitNOFILE=70000` to the `[Service]` section of `/lib/systemd/system/riak.service`. This is equivalent to `ulimit -f 70000`. You can get some more details here: http://unix.stackexchange.com/a/345596

[2017-04-11 13:40] davidmweber commented on #55
While you are looking at this, you should add `systemcfg enable riak` to the postinst script.

[2017-04-11 19:58] jaredmorrow commented on #55
Since this was filed in '13 and no one is working on `node_package` anymore, I'm closing this.

[2017-04-11 19:58] #55 closed, assigned to nobody

[2017-12-21 18:24] smarj commented on #191
This looks fixed on [node_package 4.0](https://github.com/basho/node_package/blob/4.0.0/priv/base/nodetool#L191-L198) and later, including develop. Riak 2.0.8, Riak 2.2.1 and later use 4.0.1, so they no longer exhibit this behavior. There is no safe version of 2.1.x.